.body-botton {
    background-color: var(--primary-color);
    padding: 20px;
    color: var(--secondary-color);
}

.body-botton-plainText {
    color: #f1f1f1;
    font-size: 1.2rem;
}

.body-botton button {
    width: 160px;
    height: 70px;
    margin: 5px;
}

.buttonAddQuestion {
    vertical-align: middle;
    text-align: center;
    display: flex;
    justify-content: center;
    margin: 12px auto;
    width: 45vw;
    height: 55px;
    background-color: #5bd5e6;
    line-height: 50px;
    text-align: center;
    color: #2d0aca;
}

.button-export {
    background-color: #00c060;

    border-radius: 12px;
    color: white;
    font-weight: 600;
    font-size: 1.4rem;
    transition: all 0.2s;
}

.button-export:hover {
    -webkit-box-shadow: 0px 2px 19px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 2px 19px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 2px 19px 0px rgba(0, 0, 0, 0.75);
    background-color: #15452d;
    color: rgb(187, 253, 196);
}

.button-clear {
    border-radius: 12px;
    font-size: 1.4rem;
    font-weight: 600;
    background-color: rgb(255, 169, 169);
    color: rgb(117, 3, 3);
    transition: all 0.3s;
}

.button-clear:hover {
    -webkit-box-shadow: 0px 2px 19px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 2px 19px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 2px 19px 0px rgba(0, 0, 0, 0.75);
    background-color: rgb(121, 3, 3);
    color: rgb(255, 139, 139);
}

.body-botton-input {
    display: flex;
    height: 45px;
}

.body-botton-input input {
    padding-left: 5px;
    width: 70vw;
}