.body-text {
    background: rgb(133, 133, 133);
    background: -moz-linear-gradient(180deg, rgba(133, 133, 133, 1) 0%, rgba(255, 255, 255, 1) 90%);
    background: -webkit-linear-gradient(180deg, rgba(133, 133, 133, 1) 0%, rgba(255, 255, 255, 1) 90%);
    background: linear-gradient(180deg, rgba(133, 133, 133, 1) 0%, rgba(255, 255, 255, 1) 90%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#858585", endColorstr="#ffffff", GradientType=1);
    padding: 10px;
    font-size: 1.3rem;
}

.body-text-card {
    -webkit-box-shadow: 1px 3px 13px 1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 1px 3px 13px 1px rgba(0, 0, 0, 0.75);
    box-shadow: 1px 3px 13px 1px rgba(0, 0, 0, 0.75);
    background-color: #cecccc;
    padding: 12px;
    border-radius: 12px;
    max-width: 350px;
    margin: 30px auto;
    text-align: center;
}

.body-text-card h1 {
    font-size: 2rem;
    margin-bottom: 5px;
}

.body-text-card p {
    margin-bottom: 8px;
}

.body-text-content {
    margin-left: 30px;
}